/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require stately/stately
 *= require_self
 */

.stately {
    width: 80%;     /* width and font size must match */
    font-size: 900px; /*width and font size must match */
    color: #f0f0f0;
    background-color: black;
}

#co {color: purple;}
#ny {color: purple;}
#ma {color: purple;}
#ca {color: purple;}
#hi {color: purple;}
#ks {color: teal;}
#tx {color: purple;}
#ct {color: purple;}
#or {color: purple;}
#nv {color: purple;}
#mo {color: teal;}
#fl {color: purple;}
#wy {color: purple;}
#ne {color: purple;}
#nm {color: purple;}
#az {color: purple;}
#ut {color: purple;}
#wa {color: purple;}
#la {color: yellow;}
#sc {color: yellow;}
#il {color: yellow;}
#ak {background:url(http://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Flag_of_Alaska.svg/213px-Flag_of_Alaska.svg.png);
    background-size: 50% 50%;
    -webkit-webkit-background-clip:text ;

    overflow:hidden;
}
#ri {color: purple;}